{% from "_formhelpers.html" import render_field_q %}
{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}


<main role="main" class="container">
    <div class="jumbotron text-center" style="height: 500px;">
        <h1>既登録クイズ修正</h1>
        <br>
        <div  class="quiz-entry-form">
            <form method="POST">
                {{ form.csrf_token }}
                {{ render_field_q(form.inquery) }}
                {{ render_field_q(form.option_1) }}
                {{ render_field_q(form.option_2) }}
                {{ render_field_q(form.option_3) }}
                {{ render_field_q(form.option_4) }}

                <dt class="field_q_dt">
                    {{ form.answer.label }}
                    <dd class="field_q_dd">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            {% for opt in form.answer %}
                                {{ opt(class="btn-check") }}
                                {{ opt.label(class="btn btn-outline-info") }}
                            {% endfor %}
                        </div>
                    </dd>
                </dt>
                <dt class="field_q_dt">
                    <br>
                    <dd class="field_q_dd">
                        {{ form.submit(class="btn btn-secondary") }}
                    </dd>
                    <dd class="field_q_dd">
                        <a class="btn btn-outline-secondary" href="{{ url_for('views.user') }}">登録せず戻る</a>
                    </dd>
                </dt>
            </form>
        </div>
    </div>
</main>
{% endblock %}