{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron text-center">
        {% if current_user.is_authenticated %}
            <h3>{{ current_user.username }}さん</h3>
        {% endif %}
        <br>
        {% if all_acc_rate %}
            <p class="lead text-muted">あなたの今までのクイズ正解率は{{ all_acc_rate | int }}％です！</p>
        {% else %}
            <p class="lead text-muted">ようこそ究極じゃない４択クイズへ！</p>
        {% endif %}
        <br>
        <a class="btn btn-info" href="{{ url_for('views.quiz_start') }}">クイズスタート！</a>
    </div>

    <div class="container text-center">
        <h5>あなたが登録したクイズ</h5>
        <br>
        {% if not regist_quizes %}
        <p>まだないよ！</p>
        {% else %}
        <table align="center">
            <tr>
                <th>No.</th>
                <th align="left">問題</th>
                <th></th>
            </tr>
            {% for quiz in regist_quizes %}
            <tr>
                <td>{{ quiz.id }}. </td>
                <td align="left">{{ quiz.inquery }}</td>
                <td style="width: 60px;">
                    <a class="btn btn-outline-info" href="{{ url_for('views.quiz_detail', user_id=current_user.id, quiz_id=quiz.id) }}">詳細</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        <a class="btn btn-danger" href="{{ url_for('views.user_delete', user_id=current_user.id) }}">ユーザ登録削除</a>
    </div>
</main>
{% endblock %}